[user]
    email = martin.loginov@gmail.com
    name = Martin Loginov

[merge]
    conflictstyle = diff3

[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log --oneline --graph --decorate
    ls = log --stat --pretty=medium --graph
    dc = log -u -1 --stat

    # Awesome idea taken from https://preslav.me/2020/03/01/use-the-git-history/
    code-changes = "!git log --format=format: --name-only | grep -Ev '^$' | sort | uniq -c | sort -rg | head -20"
    cc = "!git code-changes"

[push]
    default = current
